main {
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.root{
  display: flex;
  align-items: center;
  justify-content: center;
}
.background{
  border: 2px solid black;
  height: 600px;
  width: 350px;
  background-image: url(background-day.png);
  position: relative;
  overflow: hidden;
}
.bird{
  position: absolute;
  height: 35px;
  width: 40px;
  background-image: url(yellowbird-upflap.png);
  background-size: 100% 100%;
  left: 100px;
  animation: idle 0.4s infinite ease-in-out alternate;
  z-index: 0;
  transition: 0.3s;
  border: 1px solid white;
}
.score{
  font-size: 30px;
  font-weight: bold;
  font-family: 'poppins', sans-serif;
  color: white;
  text-align: center;
}
.pipe {
  background-image: url(pipe-green.png);
  width: 52px;
  transition: 0.3s;
  position: absolute;
}

.startNotification{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
}
@keyframes gravity{
  0%{
    transform : rotate(0deg);
  }
  100%{
    transform : rotate(90deg);
  }
}
@keyframes jump{
  0%{
    transform : rotate(0deg);
  }
  100%{
    transform : rotate(-45deg);
  }
}
@keyframes idle{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(2px);
  }
}