main {
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.root{
  display: flex;
  align-items: center;
  justify-content: center;
}
.background{
  border: 2px solid black;
  height: 600px;
  width: 350px;
  background-image: url(background-day.png);
  position: relative;
}
.bird{
  height: 35px;
  width: 40px;
  background-image: url(yellowbird-upflap.png);
  background-size: 100% 100%;
  transform: translate(100px, 287px);
  animation: jump 0.4s infinite ease-in-out;
}
.score{
  font-size: 30px;
  font-weight: bold;
  font-family: 'poppins', sans-serif;
  color: white;
  text-align: center;
}
.pipe {
  background-image: url(pipe-green.png);
  width: 52px;
  position: absolute;
  bottom: 0;
}

@keyframes gravity{
  0%{
    transform : rotate(0deg);
  }
  100%{
    transform : rotate(90deg);
  }
}
@keyframes jump{
  0%{
    transform : rotate(0deg);
  }
  100%{
    transform : rotate(-45deg);
  }
}